.timeline-dialog {
    border-radius: var(--border-radius);
    background-color: var(--color-accent);
    color: var(--color-text);
}

.timeline-dialog::backdrop {
    background-color: hsla(0 0 10 / 0.5);
}

.timeline-form {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
}

.new-timeline-button, .dialog-submit-btn {
    background-color: var(--color-primary);
}

#timeline-name {
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-xl);
}
