.timeline-dialog::backdrop {
    background-color: hsla(0, 0%, 80%, 0.5);
}

.timeline-form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: var(--border-radius);
}

.new-timeline-button {
    background-color: var(--color-primary);
}
