.movie-card,
.movie-image {
    max-width: 100%;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-surface);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    border: 1.5px solid var(--color-accent);
}

.movie-card>button {
    background-color: var(--color-primary);
    padding: var(--spacing-sm);
    border: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: var(--border-radius);
}

.delete-button:hover {
    background-color: var(--color-primary);
}

.delete-button {
    background-color: var(--color-danger);
}

.movie-status {
    width: 100%;
    height: fit-content;
    font-size: var(--text-md);
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    border-radius: var(--border-radius);
}
