.movie-card,
.movie-image {
    max-width: 100%;
}

.movie-item>button:hover {
    background-color: var(--color-secondary);
}

button.selected {
    background-color: var(--color-primary);
}

.delete-button {
    background-color: var(--color-danger);
}
