.add-to-timeline-form {
    display: flex;
}

#timeline-selection {
    flex: 1;
    height: fit-content;
    font-size: var(--text-md);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.add-to-timeline-form button {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.action-bar__message {
    margin: 0;
    font-size: var(--text-base);
    color: var(--color-background);
    font-weight: 600;
}
